.mse__card___button{
    color: var(--main-color);
    background: var(--secondary-color);
    border: solid 1px var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.651);
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 600;
    margin: 16px 0;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    width: 110px;
}
.mse__card___button:hover{
    cursor: pointer;
}
.mse__card___button:active{
    color: var(--secondary-color);
    background: var(--main-color);
    border: solid 2px var(--secondary-color);
}