.introduction__description{
    font-family: var(--font-family);
    font-weight: 400;
}

@media screen and (min-width: 0 ) {
    .introduction__description{
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px ) {
    .introduction__description{
        font-size: 1.5rem;
    }
}