.showcase__apartment___card____description{
    background: rgba(0, 0, 0, 0.568);
    font-size: 1rem;
    font-family: var(--font-family);
    font-weight: 400;
    text-align: center;
    width: 100%;
}